<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}}" />
    <link rel="shortcut icon" href="{% static 'worklog/img/favicon.ico' %}" />
    <title>登录</title>

</head>

<body>
    <div id="bigbox">
        <h1>LOGIN</h1>
        <div class="inputbox">
            <div class="inputtext">
                <span class="usericon"></span>
                <input type="text" class="text" placeholder="username" />
            </div>
            <div class="inputtext">
                <span class="pswicon"></span>
                <input type="password" class="text" placeholder="password" />
            </div>
            <div class="buttonbox">
                <span class="inputbutton">
                    <input type="button" class="button" value="LOGIN" />
                </span>
                <span class="inputbutton">
                    <input type="button" class="button" value="SIGN UP">
                </span>
            </div>
        </div>
    </div>
</body>

</html>