<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'worklog_web/css/mainpage.css' %}" />
    <link rel="shortcut icon" href="{% static 'worklog_web/img/favicon.ico' %}" />
    <title>沧县医院WORKLOG</title>
</head>

<body>
    <div class="topbox float">
        <div class="logo float">
            <span>
                <a href="/worklog_web/mainpage">沧县医院</a>
            </span>
        </div>
        <div class="float">
            <div class="menubox float">
                <center>
                    <ul>
                        <li>
                            <a href="/worklog_web/logcheckpage">日志查询</a>
                        </li>
                        <li>
                            <a href="/worklog_web/svlogctpage">机房巡检</a>
                        </li>
                        <li>
                            <a href="/worklog_web/svlogckpage">巡检查询</a>
                        </li>
                        <li>
                            <a href="/worklog_web/zhiban">值班表</a>
                        </li>
                        <li>
                            <a href="/worklog_web/logout">注销</a>
                        </li>
                        <li>
                            <a href="/worklog_web/superuser">{{ user.name }}</a>
                            <!--调用locals()传递进来的字典参数-->
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div style="width: 1900px;">
        <div class="logbox">
            <form class="logtext" style="width: 450px" action="/worklog_web/create_log/" method="POST">
                <div class="loginput">
                    <label for="date">日期</label>
                    <input type="text" name="date" id="date" placeholder="例：2100-1-1">
                </div>
                <div class="loginput">
                    <label for="need">系统需求</label>
                    <input type="text" name="needs" id="need" placeholder="是或否（不填默认否）">
                </div>
                <div class="loginput">
                    <label for="place">问题科室</label>
                    <input type="text" name="place" id="place">
                </div>
                <div class="loginput">
                    <label for="qtype">问题类型</label>
                    <input type="text" name="qsort" id="qtype">
                </div>
                <div class="loginput">
                    <label for="qscript">问题简述</label>
                    <input type="text" name="qdescribe" id="qscript" placeholder="不超过20字">
                </div>
                <div class="loginput">
                    <label for="status">完成情况</label>
                    <input type="text" name="fisstatu" id="status">
                </div>
                <div class="notediv">
                    <label for="note">备注</label>
                    <textarea name="note" id="note" cols="30" rows="3" placeholder="选填不超过30字"></textarea>
                </div>
                <div class="loginput">
                    <span class="buttonspan">
                        <input type="submit" class="button" id="" value="添加">
                    </span>
                    <span class="buttonspan">
                        <input type="reset" class="button" id="" value="重置">
                    </span>
                </div>
            </form>
        </div>
        <div class="chartbox">
            <table class="table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>系统需求</th>
                        <th>科室</th>
                        <th>问题归类</th>
                        <th>问题描述</th>
                        <th>处理结果</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    {% for userwl in userworklogs %}
                    <tr>
                        <td>{{ userwl.date|date:"Y-m-d" }}</td>
                        <td>{{ userwl.needs }}</td>
                        <td>{{ userwl.place }}</td>
                        <td>{{ userwl.qsort }}</td>
                        <td>{{ userwl.qdescribe }}</td>
                        <td>{{ userwl.fisstatu }}</td>
                        <td>{{ userwl.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>