<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'worklog_web/css/svlogctpage.css' %}" />
    <link rel="shortcut icon" href="{% static 'worklog_web/img/favicon.ico' %}" />
    <title>沧县医院WORKLOG</title>
</head>

<body>
    <div class="topbox float">
        <div class="logo float">
            <span>
                <a href="/worklog_web/mainpage">沧县医院</a>
            </span>
        </div>
        <div class="float">
            <div class="menubox float">
                <center>
                    <ul>
                        <li>
                            <a href="/worklog_web/logcheckpage">工作日志</a>
                        </li>
                        <li>
                            <a href="/worklog_web/svlogctpage">机房巡检</a>
                        </li>
                        <li>
                            <a href="#">XX</a>
                        </li>
                        <li>
                            <a href="/worklog_web/logout">注销</a>
                        </li>
                        <li>
                            <a href="/worklog_web/superuser">{{ user.name }}</a>
                            <!--调用locals()传递进来的字典参数-->
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div style="width: 1900px;">
        <div class="logbox">
            <form class="logtext" style="width: 450px" action="/worklog_web/add_svlog/" method="POST">
                <div class="loginput">
                    <label for="date">日期</label>
                    <input type="text" name="date" id="date" placeholder="例：2100-1-1">
                </div>
                <div class="loginput">
                    <label for="ups">UPS电源</label>
                    <input type="text" name="ups" id="ups">
                </div>
                <div class="loginput">
                    <label for="servers">服务器/交换机</label>
                    <input type="text" name="servers" id="servers">
                </div>
                <div class="loginput">
                    <label for="systime">系统时间</label>
                    <input type="text" name="systime" id="systime">
                </div>
                <div class="loginput">
                    <label for="air_conditioner">机房空调</label>
                    <input type="text" name="air_conditioner" id="air_conditioner">
                </div>
                <div class="loginput">
                    <label for="temperature">机房温度</label>
                    <input type="text" name="temperature" id="temperature">
                </div>
                <div class="loginput">
                    <label for="humidity">机房湿度</label>
                    <input type="text" name="humidity" id="humidity">
                </div>
                <div class="notediv">
                    <label for="note">交接事项</label>
                    <textarea name="note" id="note" cols="40" rows="3" placeholder="选填不超过50字"></textarea>
                </div>
                <div class="loginput">
                    <span class="buttonspan">
                        <input type="submit" class="button" id="" value="添加">
                    </span>
                    <span class="buttonspan">
                        <input type="reset" class="button" id="" value="重置">
                    </span>
                </div>
            </form>
        </div>
        <div class="chartbox">
            <table class="table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>UPS电源</th>
                        <th>服务器/交换机</th>
                        <th>系统时间</th>
                        <th>机房空调</th>
                        <th>机房温度</th>
                        <th>机房湿度</th>
                        <th>交接事项</th>
                        <th>交接人</th>
                    </tr>
                </thead>
                <tbody>
                    {% for svlog in svlogs %}
                    <tr>
                        <td>{{ svlog.date|date:"Y-m-d" }}</td>
                        <td>{{ svlog.ups }}</td>
                        <td>{{ svlog.servers }}</td>
                        <td>{{ svlog.systime }}</td>
                        <td>{{ svlog.air_conditioner }}</td>
                        <td>{{ svlog.temperature }} &#8451</td>
                        <!--&#8451是摄氏度符号-->
                        <td>{{ svlog.humidity }} &#37</td>
                        <td>{{ svlog.note }}</td>
                        <td>{{ svlog.creater }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>