<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>沧县医院WORKLOG</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>工号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>密码</th>
                <th>科室</th>
                <th>职务</th>
                <th>活跃状态</th>
                <th>超级用户</th>
                <th>更新时间</th>
                <th>操作人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.sex }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.keshi }}</td>
                <td>{{ user.duty }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_spuser }}</td>
                <td>{{ user.updated_time|date:"Y-m-d" }}</td>
                <td>{{ user.ud_operator }}</td>
                <td>
                    <a href="/worklog_web/wl_update">修改</a>
                    <a href="/worklog_web/user_disable?userid={{ user.id }}">禁用</a>
                    <a href="/worklog_web/user_enable?userid={{ user.id }}">启用</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</body>

</html>